.main {
  width: 200px;
  background-color: purple;
}

.heading {
  border-left: solid green;
	padding:10px;
	border-left-width: 5px;
}

.heading h1 {
  font-size: 20px;
  color: white;
}

/* Your CSS Code here. */